
---

## 🛑 .gitignore File
# This file is used to specify files and directories that should be ignored by Git.

```gitignore
# Python
__pycache__/
*.py[cod]
*.egg
.env
.env.*
path/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
*.tfplan
*.tfplan.*
*.tfvars.json
*.tfvars.yaml
crash.log
*.terraform.*

# Logs
*.log

# Flyway or Alembic
*.sqlite
*.db

# VS Code
.vscode/

# System
.DS_Store
